:root {
  --background-color: #ffffff;
  --text-color: #111111;
  --gray-text-color: #555555;

  --link-color: #444444;
  --hovered-link-color: #111111;

  --image-background: linear-gradient(150deg, rgba(0,0,0,0.11916534810126578) 0%, rgba(255,255,255,0) 100%);

  --logo: url(/images/logo-black.svg);
}

@media(prefers-color-scheme: dark) {
  :root {
    --background-color: #111111;
    --text-color: #f5f5f5;
    --gray-text-color: #9A9A9A;

    --link-color: #999999;
    --hovered-link-color: #f5f5f5;

    --image-background: linear-gradient(160deg, rgba(255,255,255,0.12232990506329111) 0%, rgba(255,255,255,0) 100%);

    --logo: url(/images/logo-white.svg);
  }
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('/assets/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
       font-weight: normal;
       font-display: swap;
       font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Atkinson-Hyperlegible', Arial, sans-serif;
  max-width: 1081px;
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-gap: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

aside {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 10px; 
  display: flex;
  flex-wrap: wrap;
}

.logo {
  display: block;
  width: 300px;
  height: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.name {
  background-image: var(--logo);
}

.description {
  font-size: 19px;
  margin: 2px 0;
  line-height: 128%;
}

.sidebar-bottom {
  margin: auto 0;
  margin-bottom: 0px;
}

.links {
  font-size: 17px;
}

.link {
  display: block;
  margin: 5px 0;
}

main {
  max-width: 674px;
  padding: 10px;
}

p {
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 6px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--hovered-link-color);
}

.post {
  margin-bottom: 52px;
}

.post-image {
  margin-bottom: 6px;
  border-radius: 6px;
  background: var(--image-background);
}

.gray {
  color: var(--gray-text-color);
  font-size: 17px;
  margin-bottom: 4px;
  max-width: 96%;
}

.gray a {
  color: var(--gray-text-color);
}

@media screen and (min-width: 1025px) {
  body {
    max-width: 100%;
  }
  .main {
    margin: 0 auto;
    max-width: 100%;
  }
  .post {
    max-width: 654px;
  }
}

@media screen and (min-width: 1774px) {
  body {
    max-width: 100%;
  }
  .main {
    margin: 0 auto;
    max-width: 1414px;
    display: flex;
    flex-wrap: wrap;
  }
  .post {
    max-width: 654px;
    margin: 0 20px;
  }
}

@media (max-width: 820px) {
  body {
    grid-template-columns: none;
  }
  
  aside {
  position: inherit;
  height: 100%;
  max-width: 674px;
  margin: 0 auto;
  }

  .description {
    max-width: 94%;
  }

  .sidebar-top {
    margin-bottom: 16px;
  }

  .links {
  font-size: 18px;
  }

  .link {
    margin: 6px 0;
  }

  main {
  /*max-width: 154px;*/
  margin: 0 auto;
  }

  p {
    font-size: 18px;
  }
}